<ion-view>
<ion-nav-title>Contact Us
</ion-nav-title>
  <ion-content>
  	<div class="card">
  		
  			<div class="item item-divider">
    			<b>Dayananda Suratkal</b><br>
    		</div>
    		<div class="item item-text-wrap">
Chairman,IEEE Mangalore Sub-Section
Professor<br>Sahyadri College of Engineering and Management
Mangalore, Karnataka, India<br>
Email: prof.shetty@ieee.org
	</div>
	</div>
	<div class="card">
  		<div class="item item-divider">
		<b>Mohit P. Tahiliani</b><br>
	</div>
		<div class="item item-text-wrap">
Student Activity Chair,IEEE Mangalore Sub-Section<br>
Assistant Professor, NITK Surathkal
Mangalore, Karnataka, India<br>
Email: mohit.p.tahiliani@ieee.org
		</div>
	</div>
	</p>
  </ion-content>
</ion-view>