<ion-view view-title="IEEE DISCOVER 2016">
	<ion-content>
			<div class="card">

			<br>
			<div class="list card">
			<center><img src="images/ieee_app.jpg" style="width:50%;allign:middle;padding px 5px 5px 5px" /></center>
		</div>
			<br>
			<ion-scroll zooming="true" direction="y" style="width: 100%;height:100%; padding : 5px 5px 5px 5px;">
				<div class="item item-text-wrap">
				<p>The IEEE Mangalore Sub-Section (R0011901) is hosting an international conference on Distributed Computing, VLSI, Electrical Circuits and Robotics (DISCOVER 2016).</p>
			</div>
				<div class="item item-text-wrap">
				<p>
					The conference will be held in the vibrant premises of National Institute of Technology Karnataka (NITK), Surathkal. IEEE Mangalore Sub-Section, DISCOVER 2016 intends to attract people working in diverse fields: Distributed Computing, Software Engineering, VLSI, Verification, Communication Engineering, Electrical and Electronic Circuits, and Robotics.</p>
				</div>
				<div class="item item-text-wrap">
				<p>
			 	A series of keynote presentations, technical paper and poster presentations are planned to foster vigorous exchange of research findings and ideas among the participants. Accepted and presented papers will be published in conference proceedings.
				</p>
			</div>
			</ion-scroll>
		</div>
	</ion-content>
</ion-view>