<ion view view-title="SUBMISSIONS">
<ion-content>
<div class="card">
  <div class="item item-divider">
   <strong>Manuscript Preparation/Formatting Guidelines</strong>
  </div>
  <div class="item item-text-wrap">
  1. Every manuscript will be subjected to the "similarity check". Manuscripts that fail this check would be rejected without a formal review.</div>
  <div class="item item-text-wrap">
  2. DISCOVER would follow double blind review process and hence, author details such as name, designation, affiliation, etc must NOT be included in the manuscript. </div>
  <div class="item item-text-wrap">
  3. Since the proceedings of DISCOVER may be published by IEEE CPS <light>(confirmation awaited)</light>, the manuscript must adhere to the standard IEEE two column format. </div>
  <div class="item item-text-wrap">
  4. Typesetting instructions and sample templates: <ion-item href="http://www.ieee.org/conferences_events/conferences/publishing/templates.html">IEEE Manuscript Templates for Conference Proceedings </ion-item>  </div>
  <div class="item item-text-wrap">
  5. Manuscript must be submitted in PDF (Portable Document Format) only.  </div>
  <div class="item item-text-wrap">
  6. Only the manuscript submitted via Easychair link will be considered for review.  </div>
  <div class="item item-text-wrap">
  7. Formatting instructions for Camera Ready Paper (CRC) will be made available later.   </div>
</div>

<div class="card">
  <div class="item item-divider">
   <strong>Manuscript Submission Procedure</strong>
  </div>
  <div class="item item-text-wrap">
  1. If you do not have an easychair account, please create one here: <ion-item href="https://www.easychair.org/account/signup.cgi">Sign up for an Easychair Account</ion-item></div>
  <div class="item item-text-wrap">
  2. Submit your paper through this link: <ion-item href="https://easychair.org/conferences/?conf=discover2016">DISCOVER 2016 Paper Submission</ion-item> </div>
  <div class="item item-text-wrap">
  3. Add details of every author in easychair submission forms. </div>
  <div class="item item-text-wrap">
  4. On successful submission, you will receive an email confirmation about the receipt of manuscript.  </div>
  <div class="item item-text-wrap">
  5. You can update and re-upload your manuscript till the "Paper Submission Deadline".  </div>
  <div class="item item-text-wrap">
  6. Do not submit your updated manuscript as a "new paper". </div>
</div>

</ion-content>
</ion view>